<div class="center">
    <%= image_tag 'books.jpg',width: 200,height:200 %>
    <h4>Welcome to Happy Reads</h4>

    <%= form_for(:user_session, url: '../SignIn') do |f|%>


      <%= f.label :email, class:"form-label width50"  %>
      <%= f.text_field :email ,class:"form-control width50"%>
      <br/>
      <%= f.label :password,class:"form-label width50" %>
      <%= f.password_field :password ,class:"form-control width50"%>
      <br/>
      <%= f.submit 'submit' ,class:"btn btn-default"%>


    <% end %>
</div>
